<% include layout/common-head.ejs %>
<body>
<% include layout/common-header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <% include layout/common-nav.ejs %>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="content">
                <span class="hidden" id="page"><%= title %></span>
                <h3><%= title %></h3>
                <div class="staff">
                    <div id="toolbar">
                        <button id="add" class="btn btn-warning">
                            <i class="glyphicon glyphicon-plus"></i> 添加
                        </button>
                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<!--<div class="modal fade" id="eidtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myReplyModalLabel">更改员工</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="editConfirm">提交回复</button>
            </div>
        </div>&lt;!&ndash; modal-content &ndash;&gt;
    </div>
</div>-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myAddModalLabel">添加班组
                    <small>部门：
                        <%= info.department %>
                    </small>
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" name="department" id="department" value="<%= info.department %>">
                    <div class="form-group">
                        <label for="office" class="control-label col-lg-2 hidden-md hidden-sm">科室</label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input class="form-control" name="office" type="text" placeholder="新增科室">
                            <select name="office" class="form-control">
                                <option value="">请选择科室</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <a href="javascript:void(0)" class="addNew newOffice">新增</a>
                            <a href="javascript:void(0)" class="cancelNew cancelOffice">取消</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="produce" class="control-label col-lg-2 hidden-md hidden-sm">工序</label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input class="form-control" name="produce" type="text" placeholder="新增工序">
                            <select name="produce" class="form-control">
                                <option value="">请选择工序</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <a href="javascript:void(0)" class="addNew newProduce">新增</a>
                            <a href="javascript:void(0)" class="cancelNew cancelProduce">取消</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="team" class="control-label col-lg-2">班组</label>
                        <div class="col-lg-3">
                            <select name="team" id="team" class="form-control">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addConfirm">添加</button>
            </div>
        </div><!-- modal-content -->
    </div>
</div>
<% include component/modal-modPassword.ejs %>
<% include component/modal-delConfirm.ejs %>
<!-- modal -->
<% include layout/common-footer.ejs %>
<!-- bootstrap table -->
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<script src="/bootstrap-table/lib/tableExport.js"></script>
<script src="/javascripts/common.js"></script>
<script>
  function operateFormatter(value, row, index) {
    return [
      '<a class="op" href="javascript:void(0)" title="修改">',
      '<i class="glyphicon glyphicon-pencil text-primary"></i></a>  ',
      '<a class="op" href="javascript:void(0)" title="删除">',
      '<i class="glyphicon glyphicon-trash text-danger"></i></a>'
    ].join('');
  }
  var $table = $('#table');
  var clickId = ''; // 最后点击的id
  /*  $('#editConfirm').click(function () {
   if (clickId != '') {
   $.ajax({
   url: "/admin/staff/ajax/editStaff",
   method: 'POST',
   data: {
   id: clickId,
   reContent: $('textarea[name=reContent]').val(),
   status: $('select option:selected').val()
   },
   success: function (result) {
   $('#replyModal').modal('hide');
   $table.bootstrapTable('refresh');
   }
   });
   }
   });*/

  $('#delConfirm').click(function () {
    if (clickId != '') {
      $.ajax({
        url: '/sys/depts/ajax/del',
        method: 'POST',
        data: {
          id: clickId
        },
        success: function (result) {
          $('#delModal').modal('hide');
//          ajaxReturnMessageForGlobal = result;
          alert(result);
          $table.bootstrapTable('remove', {
            field: 'did',
            values: [clickId]
          });
        }
      });
    }
  });
  window.operateEvents = {
    'click [title=修改]': function (e, value, row, index) {
      // alert('You click edit action, row: ' + JSON.stringify(row));
      // confirm('确认编辑吗？');
      alert('编辑功能暂不开放');
    },
    'click [title=删除]': function (e, value, row, index) {
      $('#delModal').modal('show');
      clickId = row.did;
    }
  };
  $(function () {
    $('#table').bootstrapTable({
      url: '/sys/depts/ajax/table',
      height: 550,
      toolbar: '#toolbar',
      search: true,
      showRefresh: true,
//      showColumns: true,
      showExport: true,
      ajaxOptions: {global: false},
      showPaginationSwitch: true,
      pagination: true,
      sidePagination: 'client',
      pageNumber: 1,
      pageSize: 10,
      pageList: '[10, 20, 50, ALL]',
      responseHandler: function (res) {
        return res;
      },
      sortOrder: 'desc',
      sortName: 'did',
      columns: [{
        field: 'did',
        title: 'id',
        visible: false
      }, {
        field: 'department',
        title: '部门'
      }, {
        field: 'office',
        title: '科室'
      }, {
        field: 'produce',
        title: '工序'
      }, {
        field: 'team',
        title: '班组'
      }, {
        field: 'operate',
        title: '操作',
        align: 'center',
        valign: 'middle',
        events: operateEvents,
        formatter: operateFormatter
      }]
    });

// 部门，科室，工序，班组 4级联单
    var $departmentField = $('#department');
    var $officeField = $('select[name=office]');
    var $produceField = $('select[name=produce]');
    var department = $departmentField.val();
    $('#addModal').on('shown.bs.modal', function () {
      $.ajax({
        url: '/sys/admins/ajax/getOffice',
        global: false,
        data: {
          department: department
        },
        success: function (result) {
          $('select[name=office] option:gt(0)').remove();
          for (var i = 0; i < result.length; i++) {
            var $optionHtml = $('<option>' + result[i].office + '</option>');
            $officeField.append($optionHtml);
          }
        }
      });
      $officeField.change(function () {
        var office = $officeField.val();
        $.ajax({
          url: '/sys/admins/ajax/getProduce',
          global: false,
          data: {
            department: department,
            office: office
          },
          success: function (result) {
            $('select[name=produce] option:gt(0)').remove();
            for (var i = 0; i < result.length; i++) {
              var $optionHtml = $('<option>' + result[i].produce + '</option>');
              $produceField.append($optionHtml);
            }
          }
        });
      });
    });

    var $officeInput = $('input[name=office]'); //hidden
    var $produceInput = $('input[name=produce]'); //hidden
    var $cancelOfficeBtn = $('.cancelOffice'); // hidden
    var $cancelProduceBtn = $('.cancelProduce'); // hidden
    var $addOfficeBtn = $('.newOffice');
    var $addProduceBtn = $('.newProduce');
    /* toolbar - add user */
    $('#add').click(function () {
      $('#addModal').modal('show');
      $officeInput.hide();
      $produceInput.hide();
      $cancelProduceBtn.hide();
      $cancelOfficeBtn.hide();
    });
    // 关闭modal，恢复原样
    $('#addModal').on('hidden.bs.modal',function(){
      $officeField.show().val('');
      $produceField.show().val('');
      $addProduceBtn.show();
      $addOfficeBtn.show();
    });
    $addOfficeBtn.click(function () { // 新增office
      $officeField.hide();
      $produceField.hide();
      $addOfficeBtn.hide();
      $addProduceBtn.hide();
      $officeInput.show();
      $produceInput.show();
      $cancelOfficeBtn.show();
      $cancelProduceBtn.hide();
    });
    $addProduceBtn.click(function () { // 新增工序
      $produceField.hide();
      $produceInput.show();
      $addProduceBtn.hide();
      $cancelProduceBtn.show();
    });
    $cancelOfficeBtn.click(function () { // 取消新增科室
      $officeField.show();
      $produceField.show();
      $addOfficeBtn.show();
      $addProduceBtn.show();
      $officeInput.hide();
      $produceInput.hide();
      $cancelOfficeBtn.hide();
      $cancelProduceBtn.hide();
    });
    $cancelProduceBtn.click(function () { // 取消新增工序
      $produceField.show();
      $produceInput.hide();
      $addProduceBtn.show();
      $cancelProduceBtn.hide();
    });
    // 提交添加
    $('#addConfirm').click(function () {
      var office = $('[name=office]:not(:hidden)').val().trim();
      var produce = $('[name=produce]:not(:hidden)').val().trim();
      var team = $('#team').val().trim();
      if(office && produce && team){
        $.ajax({
          url: '/sys/depts/ajax/add',
          global: false,
          method: "POST",
          data: {
            office: office,
            produce: produce,
            team: team
          },
          success: function(result){
            alert(result);
            $('#addModal').modal('hide');
            $table.bootstrapTable('refresh');
          }
        });
      }else{
        alert('请填写完整');
      }
    });
  });

</script>
</body>
<% include layout/common-foot.ejs %>
