<% include layout/common-head.ejs %>
<body>
<% include layout/common-header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <% include layout/common-nav.ejs %>
            <div class="tools">
                <button class="btn btn-danger btn-sm">批量上传工具</button>
            </div>
        </div>

        <!--<div class="col-lg-1"></div>-->
        <div class="col-lg-8 col-md-8">
            <div class="content">
                <h3>员工考核</h3>
                <div class="search col-lg-4 col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="员工号">
                        <span class="input-group-addon">搜索</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <label for="username">姓名</label>
                    <input type="text" class="" disabled placeholder="姓名">
                </div>
                <div class="ass">
                    <form action="/" method="POST">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
      $('.tools button').click(function(){
        $('div.content').html('');
      });
    });
</script>
</body>
<% include layout/common-footer.ejs %>
<% include layout/common-foot.ejs %>