<% include layout/common-head.ejs %>
<body>
<% include layout/common-header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <% include layout/common-nav.ejs %>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="content">
                <span class="hidden" id="page"><%= title %></span>
                <h3><%= title %></h3>
                <div class="staff">
                    <div id="toolbar">
                        <button id="add" class="btn btn-warning">
                            <i class="glyphicon glyphicon-plus"></i> 添加
                        </button>
                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<!--<div class="modal fade" id="eidtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myReplyModalLabel">更改员工</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="editConfirm">提交回复</button>
            </div>
        </div>&lt;!&ndash; modal-content &ndash;&gt;
    </div>
</div>-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myAddModalLabel">添加类型</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="type1" class="control-label col-lg-2">类别</label>
                        <div class="col-lg-8">
                            <label class="radio-inline">
                                <input type="radio" name="type1" value="加分" checked>
                                <span class="badge">+ 加分</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="type1" value="减分">
                                <span class="badge">- 减分</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type2" class="control-label col-lg-2">类型</label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" name="type2" class="form-control" placeholder="请填写类型">
                            <select name="type2" class="form-control">
                                <option value="">请选择类型</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <a href="javascript:void(0)" class="addNew newType2">新增</a>
                            <a href="javascript:void(0)" class="cancelNew cancelType2">取消</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type3" class="control-label col-lg-2">原因</label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" name="type3" id="type3" class="form-control" placeholder="请填写原因">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addConfirm">添加</button>
            </div>
        </div><!-- modal-content -->
    </div>
</div>
<% include component/modal-modPassword.ejs %>
<% include component/modal-delConfirm.ejs %>
<!-- modal -->
<% include layout/common-footer.ejs %>
<!-- bootstrap table -->
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<script src="/bootstrap-table/lib/tableExport.js"></script>
<script src="/javascripts/common.js"></script>
<script>
  function operateFormatter(value, row, index) {
    return [
      '<a class="op" href="javascript:void(0)" title="修改">',
      '<i class="glyphicon glyphicon-pencil text-primary"></i></a>  ',
      '<a class="op" href="javascript:void(0)" title="删除">',
      '<i class="glyphicon glyphicon-trash text-danger"></i></a>'
    ].join('');
  }
  var $table = $('#table');
  var clickId = ''; // 最后点击的id
  /*  $('#editConfirm').click(function () {
   if (clickId != '') {
   $.ajax({
   url: "/admin/staff/ajax/editStaff",
   method: 'POST',
   data: {
   id: clickId,
   reContent: $('textarea[name=reContent]').val(),
   status: $('select option:selected').val()
   },
   success: function (result) {
   $('#replyModal').modal('hide');
   $table.bootstrapTable('refresh');
   }
   });
   }
   });*/

  $('#delConfirm').click(function () {
    if (clickId != '') {
      $.ajax({
        url: '/sys/types/ajax/del',
        method: 'POST',
        data: {
          id: clickId
        },
        success: function (result) {
          $('#delModal').modal('hide');
//          ajaxReturnMessageForGlobal = result;
          alert(result);
          $table.bootstrapTable('remove', {
            field: 'tid',
            values: [clickId]
          });
        }
      });
    }
  });
  window.operateEvents = {
    'click [title=修改]': function (e, value, row, index) {
      // alert('You click edit action, row: ' + JSON.stringify(row));
      // confirm('确认编辑吗？');
      alert('编辑功能暂不开放');
    },
    'click [title=删除]': function (e, value, row, index) {
      $('#delModal').modal('show');
      clickId = row.tid;
    }
  };
  $(function () {
    $('#table').bootstrapTable({
      url: '/sys/types/ajax/table',
      height: 550,
      toolbar: '#toolbar',
      search: true,
      showRefresh: true,
//      showColumns: true,
      showExport: true,
      ajaxOptions: {global: false},
      showPaginationSwitch: true,
      pagination: true,
      sidePagination: 'client',
      pageNumber: 1,
      pageSize: 10,
      pageList: '[10, 20, 50, ALL]',
      responseHandler: function (res) {
        return res;
      },
      sortOrder: 'desc',
      sortName: 'tid',
      columns: [{
        field: 'tid',
        title: 'id',
        visible: false
      }, {
        field: 'type1',
        title: '类别'
      }, {
        field: 'type2',
        title: '类型'
      }, {
        field: 'type3',
        title: '原因'
      }, {
        field: 'operate',
        title: '操作',
        align: 'center',
        valign: 'middle',
        events: operateEvents,
        formatter: operateFormatter
      }]
    });
    var $type1 = $('input[name=type1]');
    var $type2Input = $('input[name=type2]');
    var $type2Select = $('select[name=type2]');
    var $type3 = $('#type3');
    var type1 = $type1.val();
    $('#addModal').on('shown.bs.modal', function () {
      $.ajax({
        url: '/admin/ass/ajax/type2',
        global: false,
        data: {
          type1: type1
        },
        success: function (result) {
          for (var i = 0; i < result.length; i++) {
            var $option = $('<option>' + result[i].type2 + '</option>');
            $type2Select.append($option);
          }
        }
      });
    });
    // 点击类别，显示类型
    $type1.change(function () {
      type1 = $(this).val();
      $.ajax({
        url: '/admin/ass/ajax/type2?type1=' + type1,
        global: false,
        success: function (result) {
          $('select[name=type2] option:gt(0)').remove();
          for (var i = 0; i < result.length; i++) {
            var $option = $('<option>' + result[i].type2 + '</option>');
            $type2Select.append($option);
          }
        }
      });
    });
    var $newType2 = $('.newType2');
    var $cancelType2 = $('.cancelType2');
      /* toolbar - add type */
    $('#add').click(function () {
      $('#addModal').modal('show');
      $type2Input.hide().val('');
      $cancelType2.hide();
      $('select[name=type2] option:gt(0)').remove();
      $type3.val('');
    });
    // 关闭modal时
    $('#addModal').on('hidden.bs.modal', function(){
      $type2Select.show();
      $newType2.show();
    });
    $newType2.click(function () {
      $type2Select.hide();
      $type2Input.show();
      $newType2.hide();
      $cancelType2.show();
    });
    $cancelType2.click(function () {
      $type2Input.hide();
      $type2Select.show();
      $newType2.show();
      $cancelType2.hide();
    });
    $('#addConfirm').click(function () {
      var type2 = $('[name=type2]:not(:hidden)').val();
      var type3 = $type3.val();
      if (type1 && type2 && type3) {
        $.ajax({
          url: '/sys/types/ajax/add',
          method: 'POST',
          data: {
            type1: type1,
            type2: type2,
            type3: type3
          },
          global: false,
          success: function(result){
            alert(result);
            $('#addModal').modal('hide');
            $table.bootstrapTable('refresh');
          }
        });
      }else{
        alert('请填写完整');
      }
    });
  });

</script>
</body>
<% include layout/common-foot.ejs %>
