<% include layout/common-head.ejs %>
<body>
<% include layout/common-header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <% include layout/common-nav.ejs %>
        </div>
        <!--<div class="col-lg-1"></div>-->
        <div class="col-lg-8 col-md-8">
            <div class="content">
                <!--<div class="panel-heading">-->
                <h3>员工考核 -
                    <small id="userInfo" class="text-primary"></small>
                </h3>
                <!--<div class="alert alert-danger">请填写完整</div>-->
                <!--</div>-->
                <p class="lead"></p>
                <div class="ass">
                    <form action="/admin/ass" method="POST" role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="userid" class="control-label col-lg-2">员工号</label>
                            <div class="col-lg-3">
                                <input type="text" name="userid" id="userid" class="form-control" placeholder="请输入员工号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type1" class="control-label col-lg-2">类别</label>
                            <div class="col-lg-6">
                                <label class="radio-inline">
                                    <input type="radio" name="type1" value="a" checked>
                                    <span class="badge">+ 加分</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="type1" value="b">
                                    <span class="badge">- 减分</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="score" class='control-label col-lg-2'>分数</label>
                            <div class="col-lg-3">
                                <!--<input type="text" name="score" class="form-control" placeholder="考核分数">-->
                                <select name="score" id="score" class="form-control">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type2" class="control-label col-lg-2">加/减类型</label>
                            <div class="col-lg-6">
                                <select name="type2" id="type2" class="form-control">
                                    <option value="">请选择类型</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type3" class="control-label col-lg-2">加/减原因</label>
                            <div class="col-lg-6">
                                <select name="type3" id="type3" class="form-control">
                                    <option value="">请选择原因</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="scoredate" class="control-label col-lg-2">日期</label>
                            <div class="col-lg-6" id="datepicker">
                                <input type="text" name="scoredate" placeholder="评分日期" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-6">
                                <input type="submit" id="submit" class="btn btn-primary" value="提交">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include layout/common-footer.ejs %>
<script>
  $(function () {
    // 输入员工号，显示姓名
    $('#userid').blur(function () {
      var userid = $(this).val().trim();
      $.ajax({
        url: '/admin/ass/ajax/user?userid=' + userid,
        global: false,
        success: function (result) {
          $('#userInfo').html('<strong>' + result.username + '</strong>');
        },
        error: function () {
          $('#userInfo').html('不存在该用户');
        }
      });
    });
    // 默认显示 + 分
    var $type2Select = $('select[name=type2]');
    var $type3Select = $('select[name=type3]');
    var type1Val = 'a';
    var type2Val = '';
    $.ajax({
      url: '/admin/ass/ajax/type2?type1=a',
      global: false,
      success: function(result){
        for(var i =0 ; i < result.length; i++){
          var $option = $('<option>' + result[i].type2 + '</option>');
          $type2Select.append($option);
        }
      }
    });
    // 点击类别，显示类型
    $('input:radio[name=type1]').change(function(){
      type1Val = $(this).val();
      $.ajax({
        url: '/admin/ass/ajax/type2?type1=' + type1Val,
        global: false,
        success: function(result){
          $('select[name=type2] option:gt(0)').remove();
          $('select[name=type3] option:gt(0)').remove();
          for(var i =0 ; i < result.length; i++){
            var $option = $('<option>' + result[i].type2 + '</option>');
            $type2Select.append($option);
          }
        }
      });
    });
    // 点击类型，显示原因
    $('select[name=type2]').change(function(){
      type2Val = $(this).val();
      $.ajax({
        url: '/admin/ass/ajax/type3?type1=' + type1Val + '&type2=' + type2Val,
        global: false,
        success: function(result){
          $('select[name=type3] option:gt(0)').remove();
          for(var i =0 ; i < result.length; i++){
            var $option = $('<option>' + result[i].type3 + '</option>');
            $type3Select.append($option);
          }
        }
      });
    });
    // 日期选择
    $('#datepicker input').datepicker({
      format: "yyyymmdd",
      weekStart: 7,
      language: "zh-CN",
      daysOfWeekHighlighted: "0,6",
      autoclose: true,
      orientation: "bottom right",
      todayHighlight: true
    });
    // 提交表单
    $('form').submit(function(){
      var userid = $('input[name=userid]').val();
      var score = $('select[name=score] option:selected').val();
      var type3Val = $('select[name=type3] option:selected').val();
      var scoredate = $('input[name=scoredate]').val();
      var errField = $('#userInfo').text();
      if(userid && score && type1Val && type2Val && type3Val && scoredate){
        if(errField != '不存在该用户'){
          $.ajax({
            url: '/admin/ass/',
            method: 'post',
            global: false,
            success: function(result){

            }
          });
        }
      }else{
        alert('请填写完整');
        return false;
      }
    });
  });
</script>
</body>
<% include layout/common-foot.ejs %>