<% include layout/common-head.ejs %>
<body>
<% include layout/common-header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <% include layout/common-nav.ejs %>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="content">
                <span class="hidden" id="page"><%= title %></span>
                <h3><%= title %></h3>
                <div class="sum">
                    <div id="toolbar">
                        <form class="form-inline" action="">
                            <div id="datepicker" class="form-group">
                                <label for="scoredate" class="control-label">日期：</label>
                                <input type="text" class="form-control" name="scoredate" id="scoredate" placeholder="选择月份">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning btn-sm" class="search">查找</button>
                            </div>
                        </form>
                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<% include component/modal-modPassword.ejs %>
<!-- modal -->
<% include layout/common-footer.ejs %>
<!-- bootstrap table -->
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<script src="/bootstrap-table/lib/tableExport.js"></script>
<script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/javascripts/common.js"></script>
<script>
  var $table = $('#table');
  var $scoredate = $('#scoredate');
  $(function () {
    $('#table').bootstrapTable({
      url: '/admin/stat/sum/table',
      height: 566,
      toolbar: '#toolbar',
      search: true,
      showRefresh: true,
//      showColumns: true,
      showExport: true,
      ajaxOptions: {global: false},
      showPaginationSwitch: true,
      pagination: true,
      sidePagination: 'client',
      pageNumber: 1,
      pageSize: 10,
      pageList: '[10, 20, 50, ALL]',
      responseHandler: function (res) {
        for(var i = 0 ; i< res.length; i++){
          res[i].rank = i + 1 ;
        }
        return res;
      },
      queryParams: function(params){
        return {
          scoredate: $scoredate.val()
        }
      },
      sortOrder: 'desc',
      sortName: 'sum',
      columns: [{
        field: 'rank',
        title: '排名',
        // visible: false
      },{
        field: 'userid',
        title: '员工号'
      }, {
        field: 'username',
        title: '姓名'
      }, {
        field: 'office',
        title: '科室'
      }, {
        field: 'produce',
        title: '工序'
      }, {
        field: 'team',
        title: '班组'
      }, {
        field: 'sum',
        title: '总分',
        sortable: true
      }, {
        field: 'plus',
        title: '总加分',
        sortable: true
      }, {
        field: 'minus',
        title: '总减分',
        sortable: true
      }]
    });
    // toolbar
    $('form').submit(function(e){
      e.preventDefault(); // 取消默认提交
      $table.bootstrapTable('refresh');
    });
    // 日期选择
    $('#datepicker input').datepicker({
      format: "yyyymm",
      minViewMode: 1,
      maxViewMode: 2,
      language: "zh-CN",
      autoclose: true
    });
  });

</script>
</body>
<% include layout/common-foot.ejs %>
