<% include layout/common-head.ejs %>
<body>
<div class="content">
    <input type="hidden" id="did" value="<%= did %>">
    <div class="index">
        <h1 class="text-center"><%= title %>组员工考核情况（<%= day %>）</h1>
        <table id="table"></table>
    </div>
</div>
<% include layout/common-footer.ejs %>
<!-- bootstrap table -->
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script>
  var $table = $('#table');
  var did = $('#did').val();
  var $pageNext; // 获取翻页按钮
  $(function () {
    $table.bootstrapTable({
      url: '/json',
      height: 668,
      striped: true,
      ajaxOptions: {global: false},
      pagination: true,
      sidePagination: 'client',
      pageNumber: 1,
      pageSize: 10,
      pageList: '[10, 20, 50, ALL]',
      responseHandler: function (res) {
/*        res.sort(function(x1,x2){
          s1 = x1.sum;
          s2 = x2.sum;
          p1 = x1.plus;
          p2 = x2.plus;
          if(s1 < s2){
            return 1;
          }
          if(s1 > s2){
            return -1;
          }
          if(s1 == s2){
            if(p1 < p2){
              return 1;
            }
            if(p1 > p2){
              return -1
            }
            return 0;
          }
        });*/
        for(var i = 0 ; i< res.length; i++){
          res[i].rank = i + 1 ;
        }
        return res;
      },
      queryParams: function (params) {
        return {
          did: did
        }
      },
      sortOrder: 'desc',
      sortName: 's',
      columns: [{
        field: 'rank',
        title: '排名',
        align: 'center'
      }, {
        field: 'userid',
        title: '员工号',
        align: 'center'
      }, {
        field: 'username',
        title: '姓名',
        align: 'center'
      }, {
        field: 'sum',
        title: '总分',
        align: 'center'
      }, {
        field: 'plus',
        title: '总加分',
        align: 'center'
      }, {
        field: 'minus',
        title: '总减分',
        align: 'center'
      }]
    });
    $table.on('post-body.bs.table',function(){
      $pageNext = $('.page-next');
    });
  });
  // 自动刷新
/*  function refresh(){
   $table.bootstrapTable('refresh');
   }
   setInterval('refresh()', 1000*10);*/

  // 定时翻页
  function changePage(){
    $pageNext.click();
  }
  setInterval('changePage()', 1000*3);

</script>
</body>
<% include layout/common-foot.ejs %>