<% include layout/common-head.ejs %>
<body>
<div class="content">
    <input type="hidden" id="did" value="<%= did %>">
    <div class="index">
        <h1 class="text-center"><%= title %>组员工考核情况（<%= day %>）</h1>
        <table id="table"></table>
    </div>
</div>
<% include layout/common-footer.ejs %>
<!-- bootstrap table -->
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script>
  var $table = $('#table');
  var did = $('#did').val();

  $(function () {
    $('#table').bootstrapTable({
      url: '/json',
      height: 700,
      striped: true,
      ajaxOptions: {global: false},
      pagination: true,
      sidePagination: 'client',
      pageNumber: 1,
      pageSize: 3,
      pageList: '[10, 20, 50, ALL]',
      responseHandler: function (res) {
        for (var i = 0; i < res.length; i++) {
          res[i].rank = i + 1;
        }
        return res;
      },
      queryParams: function (params) {
        return {
          did: did
        }
      },
      sortOrder: 'desc',
      sortName: 's',
      columns: [{
        field: 'rank',
        title: '排名',
        align: 'center'
      }, {
        field: 'userid',
        title: '员工号',
        align: 'center'
      }, {
        field: 'username',
        title: '姓名',
        align: 'center'
      }, {
        field: 's',
        title: '总分',
        align: 'center'
      }, {
        field: 's1',
        title: '总加分',
        align: 'center'
      }, {
        field: 's2',
        title: '总减分',
        align: 'center'
      }]
    });
  });
  // 自动刷新
  function refresh(){
    window.location.reload();
  }
//  setTimeout('refresh()', 1000*10); //指定10秒刷新一次
</script>
</body>
<% include layout/common-foot.ejs %>