<div class="modal fade" id="modPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">修改密码
                    <small>账号：<%= info.adminid %></small>
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="userid" class="control-label col-lg-2">旧密码</label>
                        <div class="col-lg-9">
                            <input type="password" name="password" id="password" class="form-control" value="<%= info.password %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="control-label col-lg-2">新密码</label>
                        <div class="col-lg-9">
                            <input type="password" name="newPassword" id="newPassword" class="form-control"
                                   placeholder="请输入新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rePassword" class="control-label col-lg-2">再次输入</label>
                        <div class="col-lg-9">
                            <input type="password" name="rePassword" id="rePassword" class="form-control"
                                   placeholder="请再次输入新密码">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="modPasswordConfirm">提交</button>
            </div>
        </div><!-- modal-content -->
    </div>
</div>