<nav>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">员工考核</a></li>
        <li><a href="#">人员管理</a></li>
        <li>
            <a>统计报表<span class="caret"></span></a>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">个人记录报表</a></li>
                <li><a href="#">统计报表</a></li>
                <li><a href="#">减分占比报表</a></li>
            </ul>
        </li>
        <li><a href="#">考核员管理</a></li>
        <li><a href="#">班次管理</a></li>
        <li><a href="#">评分类型管理</a></li>
        <li></li>
    </ul>
</nav>
