<nav>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin">员工考核</a></li>
        <li><a href="/admin/staff">人员管理</a></li>
        <li>
            <a>统计报表<span class="caret"></span></a>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/admin/stat/person">个人记录报表</a></li>
                <li><a href="/admin/stat/sum">统计报表</a></li>
                <li><a href="/admin/stat/type">减分占比报表</a></li>
            </ul>
        </li>
        <% if(info.type == 'sys'){ %>
        <li><a href="/sys/admins">考核员管理</a></li>
        <li><a href="/sys/depts">班次管理</a></li>
        <li><a href="/sys/types">评分类型管理</a></li>
        <% } %>
        <li></li>
    </ul>
    <div class="tools">
        <button class="btn btn-danger btn-sm">批量上传工具</button>
    </div>
</nav>
